body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.top-bar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.top-bar h1 {
    margin: 0;
    padding: 0;
}

.widgets-container {
    display: flex;
    justify-content: flex-start;
    gap: 25px; /* Add spacing between widgets */
    padding-top: 25px; /* Add padding between top bar and widgets */
    padding-left: 25px; /* Add padding between left side and widgets */
    align-items: flex-start;
    height: 100vh;
}

.widget {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.widget-top-bar {
    background-color: #333;
    color: #fff;
    padding: 5px;
    font-weight: bold;
}

.widget-content {
    margin-top: 10px;
}

/* Uptime widget styles */
#uptimeWidget {
    background-color: #f0f0f0;
}

/* Moderators widget styles */
#moderatorsWidget {
    background-color: #f0f0f0;
}

/* Muted widget styles (same as Moderators) */
#mutedWidget {
    background-color: #f0f0f0;
}

.moderator,
.muted {
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
}

.moderator img,
.muted img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}