# Ignore .env file
.env

# Ignore macOS specific files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Ignore node_modules (optional, but generally recommended)
node_modules/

# Ignore Time module timeTable.json local copy.
modules/time/timeTable.json

# Ignore xpSystem module local copy.
modules/xpSystem/negative_words.txt
modules/xpSystem/positive_words.txt
modules/xpSystem/user_xp.json

# Vulgarity wordlist

modules/moderation/vulgarity_dict.txt

# Ignore userbuild user_builds.json

modules/userbuild/user_builds.json